.fixacao{
    position: fixed;
    background-image:url("../img/galaxy-leftSide.jpeg");
    background-size: cover;
    color: white;
    width: 40%;
    height: 100%;
    background-position: 15%;
    margin-right: none;
    z-index: 9999;
}

.direita{
    float: right;
    margin: 0px 0px;
    width: 60%;
}

.sub-direita{
    margin: 30px 15px 30px 15px;
    background: rgba(51, 51, 51,0.6);
    padding: 30px 40px 40px 30px;
}

.box{
    background: rgba(250, 250, 250,0.3);
    padding: 0px 0px 20px 0px;
    margin: 25px 0px 25px 0px;
    align-content: center;
    justify-content: center;
    color: white;
}

.secao{
    background: #1a1fbc;
    color: #fff ;
    padding: 0px 15px 0px 15px;
    align-content: center;
    justify-content: center;
    align-self: center;
    display: flex;
    position: relative;
}

.header{
    padding: 10px 0px 15px 0px;
    align-content: center;
    justify-content: center;
    align-self: center;
    display: flex;
}

.header h1{
    font-weight: bold;
    font-family: 'Credit Valey';
    font-size: 50px;
}

.navegacao{
    font-size: 25px;
}

li{
    margin: 20px;
    background: none;
}

.navegacao a {
    color: white;
    font-weight: bold
}

.navegacao .nav a:hover {
    color: black;
    background: none;
}

a:visited {
    background: green;
}

.row .col-md-6 a{
    margin: 20px;
}

.item-rede-social{
    margin: 0px 25px 0px 25px;
}

.al{
    align-content: center;
    justify-content: center;
    align-self: center;
    display: flex;
    margin-top: 20px;
}

.header h1{
    background: rgba(118, 4, 105, 0.6);
    padding: 1px 6px 1px 6px;
    border-radius: 5px;
}

body{
    background-image: url("../img/textura.jpeg");
}

p{
    margin: 20px;
}

.box .secao h2{
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
}

.btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo{
    background: #7c26f8;
}
.btn-roxo:hover{
    background-color: #6207e3;
    color: white;
}

.btn-roxo:visited{
    background: #7c26f8;
}

.img-profile{
    width: 100%;
    height: 90px;
    border-radius: 90px;
    margin: 5px;
}

.profile{
    margin: 10px;
    color: white;
    font-size: 15px;
    align-items: center;
}

@media screen and (max-width: 980px){
    .fixacao{
        display: none;
    }

    .direita{
        float: none;
        width: 100%;
    }
}
